<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> First Page </title>
</head>
<body>

	<h1> qweqwe</h1>		
	<h2>{%for each in w%}
				{{each}}
			<br>
		 {%	endfor %}
	</h2>
</body>
</html>
